body {
    background-color: black;
    color: white;
}

#contImage {
    width:960px;
    height:375px;
    display:block;
    position:relative;
    padding:20px;
    border:solid 10px white;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;}

.skull-image {
    width:100px;
    height: 100px;     
    border:solid 3px white;}
    